
exportPattern("^[[:alpha:]]+")
importFrom(sp,point.in.polygon)
importFrom(MASS,kde2d)
importFrom(MASS,mvrnorm)
#importFrom(utils,installed.packages)
#importFrom(utils,select.list)
#importFrom(utils,choose.files)
importFrom(tcltk,tk_choose.files)
importFrom(tools,package_dependencies)
