export("blrClock<-")
export("blrNames<-")
export("fracSum<-")
export("tlrAngles<-")
export(.ternaryAxisArrows)
export(.ternaryAxisArrowsBase)
export(.ternaryGridBase)
export(.ternaryTicks)
export(blr2xy)
export(blrClock)
export(blrNames)
export(fracSum)
export(getTpPar)
export(ternaryArrows)
export(ternaryBox)
export(ternaryDataTest)
export(ternaryGrid)
export(ternaryLims)
export(ternaryPlot)
export(ternaryPoints)
export(ternarySegments)
export(ternarySystemGet)
export(ternarySystemList)
export(ternaryText)
export(ternaryWindow)
export(tlrAngles)
export(tpPar)
exportClasses(ternaryGeometry)
exportClasses(ternarySystem)
exportClasses(ternaryVariables)
exportMethods("blrClock<-")
exportMethods("blrNames<-")
exportMethods("fracSum<-")
exportMethods("tlrAngles<-")
exportMethods(.ternaryAxisArrows)
exportMethods(.ternaryAxisArrowsBase)
exportMethods(.ternaryGridBase)
exportMethods(.ternaryTicks)
exportMethods(blr2xy)
exportMethods(blrClock)
exportMethods(blrNames)
exportMethods(fracSum)
exportMethods(ternaryArrows)
exportMethods(ternaryBox)
exportMethods(ternaryDataTest)
exportMethods(ternaryGrid)
exportMethods(ternaryLims)
exportMethods(ternaryPlot)
exportMethods(ternaryPoints)
exportMethods(ternarySegments)
exportMethods(ternaryText)
exportMethods(ternaryWindow)
exportMethods(tlrAngles)
